{% extends 'layout.html' %}

{% block title %}
    <title>Department List</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/admin/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Add Admin
            </a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Admin List
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in query_set %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.username }}</td>
                        <td>******</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/{{ obj.id }}/edit/">Edit</a>
{#                            <a class="btn btn-normal btn-xs" href="/admin/{{ obj.id }}/reset/">Reset</a>#}
                            <a class="btn btn-default btn-xs" href="/admin/{{ obj.id }}/reset/">Reset</a>
                            <a class="btn btn-danger btn-xs" href="/admin/{{ obj.id }}/delete/">Delete</a>

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

